##  붓꽃 데이터 불러오기

In [ ]:
# csv파일을 구글드라이브에 저장해주세요

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd # 데이터를 다루는 판다스 라이브러리

# 구글 드라이브에서 iris3.csv 파일을 저장하고 파일경로를 복사해서 아래에 입력하세요.

df = pd.read_csv('iris3.csv')

# csv파일에는 데이터를 설명해주는 feature들이 첫 한 줄에 나옵니다. 이를 헤더라고 합니다.
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
# 첫 5줄을 봅니다.
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## 원-핫 인코딩

In [7]:
# 속성을 X, 클래스를 y로 저장합니다.
X = df.iloc[:,0:4] # iloc는 interger location약어로 데이터의 행이나 칼럼의의 순서를 나타내는는 정수 df.iloc(행 인덱스, 열인덱스)
y = df.iloc[:,4] # 슬라이스 기법, 데이터 프레임에 4번째 열에에 있는 값들만만 추출 파이썬에서 인덱스는 0부터 시작하는거 주의

# X와 y의 첫 5줄을 출력 
print(X[0:5])
print(y[0:5])

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object

In [8]:
# 원-핫 인코딩 처리를 합니다.
# y에 저장된 값은 문자입니다.계산하기위해 이름이 같으면 1, 다르면 0 으로로 바꿔줍니다. 

y = pd.get_dummies(y)

# 원-핫 인코딩 결과를 확인합니다.
print(y[0:5]) #슬라이스 행 0~4번쨰 index해당하는는 데이터를 print

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0



```
# 코드로 형식 지정됨
```

# 과제
 ### 1.	신경망 구조를 짜고 층을 설정. 고정 입력층의 노드 개수 4개, 출력층의 노드 개수 3개로 고정
### 은닉층 개수 와 노드의수는 자유

### 2.	모델 환경 설정하고 모델 수행 결과를 출력 
(hint) 다중 분류에선 활성화함수는 softmax 함수, 손실함수는 ‘categorical_crossentropy’ 함수를 사용. 은닉충 활성화 함수는‘relu’ 추천
###  3.	모델 실행 에포크=100 고정 , 배치사이즈는 자유

### 4.	은닉층 수와 노드의 수는 자유

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# 모델 설정
model = Sequential() # 층을 설정하는 부분 채워주세요. 적절한 활성화함수를 넣어주세요 
model.add(Dense(6,  input_dim= 4, activation='relu',name = 'dense1')) # 입력층의 노드 개수 4개
model.add(Dense(8,  activation='relu',name = 'dense2'))
model.add(Dense(3, activation='softmax',name = 'dense3')) # 출력층의 노드 개수 3개


model.summary()


# 모델 컴파일 model.compile 

model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])


# 모델 실행 model.fit

history=model.fit(X, y, epochs=100, batch_size=5)

ModuleNotFoundError: No module named 'tensorflow'